{
	"useTabs": true,
	"tabWidth": 8,
	"printWidth": 100,

	"semi": true,
	"endOfLine": "auto",
	"trailingComma": "all",

	"objectWrap": "collapse",
	"quoteProps": "consistent",

	"proseWrap": "always",
	"overrides": [{ "files": ["*.md"], "options": { "useTabs": false } }]
}
